src/META-INF/wsdl/localhost_8084/PhotoDbWS/PhotoDBWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.photodb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.photodb/" name="PhotoDBWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.photodb/" schemaLocation="http://localhost:8084/PhotoDbWS/PhotoDBWS?xsd=1" />
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add" />
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse" />
</message>
<message name="ExistingPhotoWSException">
<part name="fault" element="tns:ExistingPhotoWSException" />
</message>
<message name="isArrayUploadEligible">
<part name="parameters" element="tns:isArrayUploadEligible" />
</message>
<message name="isArrayUploadEligibleResponse">
<part name="parameters" element="tns:isArrayUploadEligibleResponse" />
</message>
<message name="isUploadEligible">
<part name="parameters" element="tns:isUploadEligible" />
</message>
<message name="isUploadEligibleResponse">
<part name="parameters" element="tns:isUploadEligibleResponse" />
</message>
<portType name="PhotoDBWS">
<operation name="add">
<input wsam:Action="http://ws.photodb/PhotoDBWS/addRequest" message="tns:add" />
<output wsam:Action="http://ws.photodb/PhotoDBWS/addResponse" message="tns:addResponse" />
<fault message="tns:ExistingPhotoWSException" name="ExistingPhotoWSException" wsam:Action="http://ws.photodb/PhotoDBWS/add/Fault/ExistingPhotoWSException" />
</operation>
<operation name="isArrayUploadEligible">
<input wsam:Action="http://ws.photodb/PhotoDBWS/isArrayUploadEligibleRequest" message="tns:isArrayUploadEligible" />
<output wsam:Action="http://ws.photodb/PhotoDBWS/isArrayUploadEligibleResponse" message="tns:isArrayUploadEligibleResponse" />
</operation>
<operation name="isUploadEligible">
<input wsam:Action="http://ws.photodb/PhotoDBWS/isUploadEligibleRequest" message="tns:isUploadEligible" />
<output wsam:Action="http://ws.photodb/PhotoDBWS/isUploadEligibleResponse" message="tns:isUploadEligibleResponse" />
</operation>
</portType>
<binding name="PhotoDBWSPortBinding" type="tns:PhotoDBWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="add">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ExistingPhotoWSException">
<soap:fault name="ExistingPhotoWSException" use="literal" />
</fault>
</operation>
<operation name="isArrayUploadEligible">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isUploadEligible">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PhotoDBWS">
<port name="PhotoDBWSPort" binding="tns:PhotoDBWSPortBinding">
<soap:address location="http://localhost:8084/PhotoDbWS/PhotoDBWS" />
</port>
</service>
</definitions>